<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bone-Die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{0,0},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,522}</string>
                <key>spriteSourceSize</key>
                <string>{385,522}</string>
                <key>textureRect</key>
                <string>{{0,1270},{385,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{187,0},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{374,0},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{561,0},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{748,0},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{0,254},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{187,254},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{374,254},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{561,254},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{748,254},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{0,508},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{187,508},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{374,508},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{561,508},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{748,508},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{0,762},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{187,762},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{374,762},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{561,762},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{748,762},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{0,1016},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{187,1016},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{374,1016},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone-Die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{561,1016},{187,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bones.png</string>
            <key>size</key>
            <string>{935,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85cf988551c84ab8ebde40f054fe4e9b:85a492be70c8441ffea1350fa9afc83b:3852fa5d688fbb7b6f4fe84f7c7f2517$</string>
            <key>textureFileName</key>
            <string>bones.png</string>
        </dict>
    </dict>
</plist>
